img {
  max-width: 30vw;
  max-height: 30vw;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  gap: 2vw;
}

.image-grid img {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 4vw;
  background: #f4f8ff;
  color: #1e3a8a;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0 0 3vw 0;
  display: flex;
  gap: 3vw;
}

nav li {
  font-size: 1.4vw;
  color: #1d4ed8;
}

h1 {
  font-size: 4vw;
  margin-bottom: 2vw;
  color: #1e40af;
}

p {
  font-size: 1.4vw;
  margin-bottom: 2vw;
}

ul {
  padding-left: 3vw;
  margin-bottom: 3vw;
}

li {
  font-size: 1.3vw;
  margin-bottom: 1vw;
}