{% extends 'restaurant/base.html' %}
{% block content %}
  <!-- icecream store info -->
  <h1> Broadway Dairy Maid</h1>
  <h2> Just North of Boston! </h2>
  <h2> 960 Broadway, Everett, MA 02149 </h2>
  <img src="{{pict}}" alt="Picture of Dairy Maid">
  <p> Seasonal dessert parlor serving ice cream cones, sundaes & other frozen treats from March-October </p>
  <p> Family Owned and Operated since 1981 </p>
  <!-- hours of operation store display on a table -->
  <h3>Hours of Operation</h3>
  <table>
    <tr>
      <th>Day</th>
      <th>Hours</th>
    </tr>
    <tr>
      <td>Monday</td>
      <td>12:00 PM - 9:30 PM</td>
    </tr>
    <tr>
      <td>Tuesday</td>
      <td>12:00 PM - 9:30 PM</td>
    </tr>
    <tr>
      <td>Wednesday</td>
      <td>12:00 PM - 9:30 PM</td>
    </tr>
    <tr>
      <td>Thursday</td>
      <td>12:00 PM - 9:30 PM</td>
    </tr>
    <tr>
      <td>Friday</td>
      <td>12:00 PM - 9:30 PM</td>
    </tr>
    <tr>
      <td>Saturday</td>
      <td>12:00 PM - 9:30 PM</td>
    </tr>
    <tr>
      <td>Sunday</td>
      <td>12:00 PM - 9:30 PM</td>
    </tr>
  </table>

{% endblock %}