<!-- templates/rate_the_plate/base.html -->
{% load static %}

<html>
  <head>
    <link rel="stylesheet" href="{% static 'rate_the_plate/styles-blog.css' %}">
  </head>

  <body>

    <div class="navbar">
      <a href="{% url 'show_all_cars' %}" class="logo-link">
        <h1 class="logo">Rate The Plate</h1>
      </a>

      <ul class="nav-links">
        <li><a href="{% url 'show_all_cars' %}">Home</a></li>

        {% if request.user.is_authenticated %}
          <li><a href="{% url 'my_account' %}">Account</a></li>
          <li>
            <form method="POST" action="{% url 'logout' %}" class="logout-form">
              {% csrf_token %}
              <button type="submit" class="nav-btn">Log out</button>
            </form>
          </li>
        {% else %}
          <li><a href="{% url 'login' %}">Log in</a></li>
        {% endif %}
      </ul>
    </div>

    {% block content %}
    {% endblock %}

  </body>
</html>