<!-- templates/rate_the_plate/login.html -->

{% extends 'rate_the_plate/base.html' %}
{% block content %}

<div class="page-card">
  <h2>Log in to Rate The Plate</h2>

  <form action="{% url 'login' %}" method="POST" class="login-form">
    {% csrf_token %}
    
    <div class="form-row">
      <label>Username</label>
      {{ form.username }}
    </div>

    <div class="form-row">
      <label>Password</label>
      {{ form.password }}
    </div>

    <button type="submit">Login</button>

    {% if request.GET.next %}
      <input type="hidden" name="next" value="{{ request.GET.next }}">
    {% else %}
      <input type="hidden" name="next" value="{% url 'show_all_cars' %}">
    {% endif %}
  </form>
</div>

{% endblock %}