{% extends 'quotes/base.html' %}

  {% block content %}
  <!-- General Adam Sandler info -->
  <h1> Welcome to everything about Adam Sandler!</h1>
  <p>Adam Richard Sandler (born September 9, 1966) is an American actor, comedian, filmmaker, and singer-songwriter. Primarily a comedic leading actor in films, his accolades include an Independent Spirit Award, alongside nominations for three Grammy Awards, seven Primetime Emmy Awards, three Golden Globe Awards, and a Screen Actors Guild Award. In 2023, Sandler was awarded the Mark Twain Prize for American Humor.</p>
  {% endblock %}