{% extends 'mini_insta/base.html' %}
<!-- mini_insta/show_feed.html -->

{% block content %}
<h1>{{ profile.username }}'s Feed</h1>

<main>

  {% for post in posts %}

    <article>
      <!-- all post infomration from followed user -->
      <img src="{{ post.profile.profile_image_url }}" alt="" width="50">
      <h1>{{ post.profile.username }}</h1>
      <p>{{ post.caption }}</p>
      <!-- used count to return number intead of the set -->
      <p>{{ post.get_likes.count }} Likes</p>

      {% for photo in post.get_all_photos %}
        {% if forloop.first %}
          <img src="{{ photo.get_image_url }}" alt="" width="300">
        {% endif %}
      {% empty %}
        <img src="/static/no-image.png" alt="no image" width="300">
      {% endfor %}
      <!-- display comments for posts -->
      <h2>Comments:</h2>
      {% for comment in post.get_all_comments %}
        <p>{{ comment.profile.username }}: {{ comment.text }}</p>
      {% empty %}
        <p>No comments</p>
      {% endfor %}

    </article>

    <hr>
    <!-- if no posts -->
  {% empty %}
    <p>No posts, Follow profiles for posts</p>
  {% endfor %}

</main>
{% endblock %}