{% extends 'mini_insta/base.html' %}
<!-- mini_insta/show_profile.html -->

{% block content %}
<h1>{{ profile.display_name }}</h1>

<main class="single-profile-container">

  <article>
    <!-- display profile info -->
    <div>
      <h2>{{ profile.display_name }}</h2>
      <h3>@ {{ profile.username }}</h3>
      {% if request.user.is_authenticated and request.user == profile.user %}
        <p>
          <a href="{% url 'update_profile' %}">Edit Profile</a>
        </p>
      {% endif %}
      {% if request.user.is_authenticated and request.user == profile.user %}
        <p>
          <a href="{% url 'show_postfeed' %}">My Feed</a>
        </p>
      {% endif %}
      <p>{{ profile.bio_text }}</p>
      <p>Joined on {{ profile.join_date }}</p>
      <!-- show follower/following info -->
      <p><a href="{% url 'show_followers' profile.pk %}">{{ profile.get_num_followers }} Followers</a></p>
      <p><a href="{% url 'show_following' profile.pk %}">{{ profile.get_num_following }} Following</a></p>
      <p>{{ profile.get_num_posts }} Posts</p>

      {% if request.user.is_authenticated and request.user != profile.user %}
        {% if my_profile in profile.get_followers %}
        <!-- for following and unfollwoing  -->
          <p><a href="{% url 'remove_follow_profile' profile.pk %}">Unfollow</a></p>
        {% else %}
          <p><a href="{% url 'follow_profile' profile.pk %}">Follow</a></p>
        {% endif %}
      {% endif %}

    </div>

    <img src="{{ profile.profile_image_url }}" alt="">
  </article>

  <hr>
  <h2>Posts:</h2>
  <table>
    {% for post in profile.get_all_posts %}
    <tr>
      <td>
        <a href="{% url 'post' post.pk %}">
          {{ post.caption }}
        </a>
      </td>
      <td>
        {% for photo in post.get_all_photos %}
          {% if forloop.first %}
          <a href="{% url 'post' post.pk %}">
            <img src="{{ photo.get_image_url }}" alt="" width="150">
          </a>
          {% endif %}
        {% empty %}
        <a href="{% url 'post' post.pk %}">
          <img src="/static/no-image.png" alt="no image" width="150">
        </a>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </table>

</main>
{% endblock %}