{% extends 'mini_insta/base.html' %}
<!-- mini_insta/show_post.html -->

{% block content %}
<h1>Post</h1>

<main class="single-post-container">

  <article>
    <div>
      <h2>{{ post.caption }}</h2>
      <p>Posted at {{ post.timestamp }}</p>
    </div>
  </article>

  <hr>

  <!-- Display photos for this post -->
  {% for photo in post.get_all_photos %}
    <img src="{{ photo.get_image_url }}" alt="">
  {% empty %}
    <img src="/static/no-image.png" alt="no image">
  {% endfor %}

  <div style="display: flex; gap: 10px; justify-content: center; margin-top: 20px;">
    <a href="{% url 'update_post' post.pk %}">Update this Post</a>
    <a href="{% url 'delete_post' post.pk %}">Delete this Post</a>
  </div>

</main>
{% endblock %}